---
import SPAIN from "../flags/spain.astro";
import USA from "../flags/usa.astro";

interface Props {
    title: string
}

const { title } = Astro.props;
---

<div
    class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse"
>
    <button
        type="button"
        data-dropdown-toggle="language-dropdown-menu"
        class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 rounded-lg cursor-pointer hover:bg-gray-100"
    >
        <slot name="svg" />
        {title}
    </button>
    <!-- Dropdown -->
    <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
        id="language-dropdown-menu"
    >
        <ul class="py-2 font-medium" role="none">
            <li>
                <a
                    href="/"
                    class="block px-4 py-2 text-sm text-stone-600 hover:bg-gray-100"
                    role="menuitem"
                >
                    <div class="inline-flex items-center">
                        <USA className="size-4 me-2" />
                        English (US)
                    </div>
                </a>
            </li>
            <li>
                <a
                    href="/es/"
                    class="block px-4 py-2 text-sm text-stone-600 hover:bg-gray-100"
                    role="menuitem"
                >
                    <div class="inline-flex items-center">
                        <SPAIN className="size-4 me-2" />
                        Español (ES)
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <button
        data-collapse-toggle="navbar-language"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-language"
        aria-expanded="false"
    >
        <span class="sr-only">Open main menu</span>
        <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
    </button>
</div>
