---
import LearnedSkill from "./Skill.astro";

const learnedSkills: SkillData[] = [
    {
        name: "HTML5",
        path: "/svgs/html.svg",
    },
    {
        name: "CSS3",
        path: "/svgs/css.svg",
    },
    {
        name: "JavaScript",
        path: "/svgs/javascript.svg",
    },
    {
        name: "TypeScript",
        path: "/svgs/typescript.svg",
    },
    {
        name: "Node.js",
        path: "/svgs/nodejs.svg",
    },
    {
        name: "Express.js",
        path: "/svgs/express.svg",
    },
    {
        name: "Vite.js",
        path: "/svgs/Vite.js.svg",
    },
    {
        name: "Git",
        path: "/svgs/Git.svg",
    },
    {
        name: "TailwindCSS",
        path: "/svgs/tailwindcss.svg",
    },
    {
        name: "PostgreSQL",
        path: "/svgs/postgresql.svg",
    },
    {
        name: "TypeORM",
        path: "/svgs/typeorm.svg",
    },
    {
        name: "Astro",
        path: "/svgs/astro.svg",
    },
];


---

<main class="flex-1 flex flex-col items-center justify-center">
    <section class="mt-5 gap-4 max-w-screen-lg sm:w-3/4 px-4 sm:px-0">
        <div class="flex w-full justify-center">
            <slot name="heading" />
        </div>
        <div class="flex flex-col gap-y-3 p-3 text-left text-base text-gray-700">
            <slot name="text" />
        </div>
        <div class="flex flex-col p-3 gap-2 items-center">
            <slot name="skill_heading"/>
            <div class="flex flex-wrap gap-2">
                {
                    learnedSkills.map((skill) => (
                        <LearnedSkill skillData={skill} />
                    ))
                }
            </div>
        </div>
    </section>
</main>
