---
interface Props {
    title: string;
    body: string;
}

const { title, body } = Astro.props;
---

<main class="flex-1 w-full grid place-content-center p-4">
    <section
        class="max-w-screen-xl flex flex-col lg:flex-row bg-white rounded-2xl shadow-md overflow-hidden gap-8"
    >
        <div
            class="border-l-custom-redLight border-b-custom-redLight border-r-transparent border-t-transparent border-8"
        >
            <img
                class="flex object-contain object-center mx-auto"
                src="../../images/yo.png"
                alt="My image"
            />
        </div>
        <div class="flex flex-col justify-center lg:max-w-xl px-6 gap-2">
            <div class="text-center text-xl lg:text-2xl text-custom-redLight">
                <h1>I'M CARLOS MIGUEL.</h1>
                <h2 class="text-gray-700">FULLSTACK DEVELOPER</h2>
            </div>
            <div class="flex flex-col pb-3 gap-2 text-left text-gray-700">
                <p class="max-w-xl">{body}</p>
                <a
                    href="/about"
                    class="self-start rounded-3xl border-2 border-custom-redLight py-2 pl-2 pr-0"
                >
                    MORE ABOUT ME
                    <span class="bg-custom-redLight p-3 rounded-full">
                        <svg
                        class="arrow w-5 inline-block fill-white"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 -960 960 960"
                        ><path
                            d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
                        ></path>
                    </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>
</main>

<style>
    .arrow:hover {
        animation: moverse 1 .7s both;
    }

    @keyframes moverse {
        from {
            opacity: .7;
            translate: 0 0;
        }
        to {
            opacity: 1;
            translate: 3px 0;
        }
    }
</style>
