---
interface Props {
    title: string;
    href: string;
    className?: string;
}

const {
    title,
    href,
    className = "block py-2 px-3 md:p-0 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-custom-redLight",
} = Astro.props;
---
<li>
    <a href={href} class={className} aria-current="page">{title}</a>
</li>
