---
interface Props {
    title: string;
    href: string;
    className?: string;
}

const {
    title,
    href,
    className = "block py-2 px-3 md:p-0 text-stone-600 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:bg-gradient-to-tr from-cyan-500 to-blue-500 md:hover:bg-clip-text md:hover:text-transparent",
} = Astro.props;
---
<li>
    <a href={href} class={className} aria-current="page">{title}</a>
</li>
