---
import ProjectCard from "./ProjectCard.astro";

const PROJECTS: Project[] = [
    {
        title: "D-Kanto | E-commerce",
        body: "This is an e-commerce website developed from scratch by me. I made it with a lot of patience and dedication using best practices and clean code rules. I developed a pagination method so the user can see the products in a more comfortable way. Here, if users are not signed in then they can't execute their payment. I also added light and dark theme.",
        image: "../../images/d-kanto-frontend.png",
        repository: "https://github.com/CarMi0Proggramer/d-kanto-frontend",
        preview: "https://d-kanto-frontend.onrender.com",
        skills: [
            {
                name: "HTML5",
                path: "../../svgs/html.svg",
            },
            {
                name: "CSS3",
                path: "../../svgs/css.svg",
            },
            {
                name: "TailwindCSS",
                path: "../../svgs/tailwindcss.svg",
            },
            {
                name: "TypeScript",
                path: "../../svgs/typescript.svg",
            },
            {
                name: "Vite.js",
                path: "../../svgs/Vite.js.svg",
            },
            {
                name: "Git",
                path: "../../svgs/Git.svg",
            },
            {
                name: "Stripe",
                path: "../../svgs/stripe.svg",
            },
        ],
    },
    {
        title: "D-Kanto Admins | Admin Dashboard",
        body: "Admin Dashboard created to manage the products of D-Kanto's website. In this project admins can create, update, delete, look for and filter the products. I continue pushing me hard to improve this website and rise my knowledge. It also have a pagination method and light and dark theme. What I liked the most of developing this site was to create the preview of the products.",
        image: "../../images/d-kanto-admin.png",
        repository: "https://github.com/CarMi0Proggramer/d-kanto-admin",
        preview: "https://d-kanto-admin.onrender.com",
        skills: [
            {
                name: "HTML5",
                path: "../../svgs/html.svg",
            },
            {
                name: "CSS3",
                path: "../../svgs/css.svg",
            },
            {
                name: "TailwindCSS",
                path: "../../svgs/tailwindcss.svg",
            },
            {
                name: "TypeScript",
                path: "../../svgs/typescript.svg",
            },
            {
                name: "Vite.js",
                path: "../../svgs/Vite.js.svg",
            },
            {
                name: "Git",
                path: "../../svgs/Git.svg",
            },
        ],
    },
    {
        title: "API for D-Kanto and D-Kanto Admins",
        body: "RESTful API developed following the Software Architecture pattern MVC ( Model - View - Controller ). I used TypeORM to manage the interactions with a PostgreSQL database and also handled JWTs ( JSON Web Tokens ) to allow admins and users both register and login. I handle the payment endpoints using Stripe and validate data with Zod library.",
        image: "../../images/d-kanto-backend.png",
        repository: "https://github.com/CarMi0Proggramer/d-kanto-backend",
        skills: [
            {
                name: "TypeScript",
                path: "../../svgs/typescript.svg",
            },
            {
                name: "Express.js",
                path: "../../svgs/express.svg",
            },
            {
                name: "PostgreSQL",
                path: "../../svgs/postgresql.svg",
            },
            {
                name: "TypeORM",
                path: "../../svgs/typeorm.svg",
            },
            {
                name: "Stripe",
                path: "../../svgs/stripe.svg",
            },
            {
                name: "Git",
                path: "../../svgs/Git.svg",
            },
        ],
    },
];
---

<main class="m-auto">
    <section class="bg-gray-200 antialiased">
        <div
            class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24"
        >
            <div class="max-w-2xl mx-auto text-center">
                <h2
                    class="text-3xl font-extrabold leading-tight tracking-tight sm:text-4xl text-custom-redLight">
                    My work
                </h2>
                <p
                    class="mt-4 text-base font-normal text-gray-500 sm:text-xl"
                >
                    These are the projects I'm proud the most.
                </p>
            </div>

            <div
                class="grid grid-cols-1 mt-12 place-content-center sm:mt-16 gap-x-20 gap-y-12"
            >
                {PROJECTS.map((project) => <ProjectCard project={project} />)}
            </div>
        </div>
    </section>
</main>
